/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
:root {
  --primaryColor: red;
}
img {
  width: 100%;
  display: block;
  height: 100%;
}
.clr {
  clear: both;
}
.container {
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* header */
header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 11;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
}
.logo span {
  color: var(--primaryColor);
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}
nav {
  padding: 10px 0;
  width: 80%;
  margin: auto;
}
nav ul li {
  list-style: none;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
nav ul li a:hover {
  background-color: var(--primaryColor);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* home page */
.home {
  height: 100dvh;
  background-color: rgb(199, 193, 193);
}
.home .container h1 {
  font-size: 5rem;
}
.col {
  display: flex;
  height: 100%;
}
.image {
  width: 30%;
  overflow: hidden;
}

.logoImg {
  animation: vibration 1s 3;
}

@keyframes vibration {
  form {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
}

button {
  background-color: rgb(77, 74, 74);
  border: none;
  padding: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: red;
}

.text h1 {
  position: relative;
  left: 0;
  animation: move 2s 1;
}

.text p {
  position: relative;
  left: 0;
  animation: move 2s 1;
  animation-delay: 50ms;
}

.text button {
  position: relative;
  left: 0;
  animation: move 2s 1;
  animation-delay: 700ms;
}

@keyframes move {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

/* section */

.grid {
  display: grid;
  grid-template-areas:
    "first second Third"
    "first second Fourth";
  gap: 10px;
  width: 100dvw;
  height: 100%;
  margin-top: 10%;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.Third {
  grid-area: Third;
}

.Fourth {
  grid-area: Fourth;
  /* transform: scale(1.1); */
}

.card_img {
  overflow: hidden;
}

.card_img img {
  transform: scale(1.2);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card_img {
  position: relative;
}

.card_img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 5;
}

.card_img:hover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.card_img:hover img {
  transform: scale(1);
}
.navicones i {
  cursor: pointer;
  margin-left: 15px;
  transition: transform 1s;
}
.navicones i:hover {
  color: red;
  transform: rotateY(180deg);
}
